@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
:root{
    --font-title: 'Space Mono', monospace;
}
body{
    height: 100vh;
    
    background-color: black;
    background-image: url(../image/background/background667x500.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    padding: 15px;
    color: white;
    text-align: center;
    background-color: #0d0d41;
    text-transform: uppercase;
    margin: auto;
    
}
h1{
    font-family: var(--font-title);
    width: 90vw;

}
main{
    position: relative;
    height: 900px;
   
 
}

/*Set my phone for vertical position*/
section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url(../image/phone/frame-iphone.png);
    background-repeat: no-repeat;
    margin: auto;
}
/*Set of iframe for iphone 12
iframe{
    position: relative;
    width: 222px;
    height: 481px;
    top: 10px;
    left: 14px;
   
}
*/
/*Set of iframe with iphone 6*/
iframe{
    position: relative;
    width: 269px;
    height: 471px;
    top: 80px;
    left: 22px;
   
}
/*Set my id social-network*/
#social-network{
    padding-top: 10px;
    text-align:start;
    max-width: 100VW;
   
    

}
#social-network img{
    border-radius: 50%;
    width:50px;
    margin: 5px;
    box-sizing: border-box;
    
   
}
#social-network img:hover{
    transition: transform 1s ;
    transform: translate(-0px, -5px);
    border: 2.5px solid #ffa500;
}
footer{
    background-color: #080892;
    padding: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
    
}
p{
   font-family: var(--font-title);
   text-transform: uppercase;

}
footer:hover{
    background-color: #0d0d41;
}





    



