@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(../image/background/background667x500.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;


}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*Set my phone for vertical position*/
section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 250px;
    height: 503px;
    background-image: url(../image/phone/phone.png);
    background-repeat: no-repeat;
}
iframe{
    position: relative;
    width: 230px;
    height: 480px;
    top: 10px;
    left: 10px;
}





    



